<%= simple_form_for(@trip, html: {class: 'form-vertical' }) do |f|%>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name, :autofocus => true %>
    <%= f.input :description %>

     <div class="form-actions">
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                  trips_path, :class => 'btn' %>
    </div>

<% end %>
