<div class="span8">

    <p>
      <strong><%=t("name")%>:</strong>
      <%= @trip.name %>
    </p>

    <p>
      <strong><%=t("description")%>:</strong>
      <%= @trip.description %>
    </p>

    <% if current_user.super_user %>
        <%= link_to t('edit'), edit_trip_path(@trip) %>
    <% end %>

    <br/>
    <br/>

    <h2><%= t("models.comments")%>: </h2>

    <%= render partial: 'trip_comment_form', resource:  @trip %>

    <%= sync_new partial: 'trip_comment', resource: Comment.new, scope: @trip, refetch: true %>
    <% @trip.comments.order('created_at DESC').each do |comment| %>
      <%= sync partial: 'trip_comment', resource: comment, refetch: true %>
    <% end %>

    <br/>

</div>
