<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<%= link_to 'Editar', edit_trip_path(@trip) %> |
<%= link_to 'Voltar', trips_path %>
