<p>
  <strong><%=t("name")%>:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong><%=t("description")%>:</strong>
  <%= @trip.description %>
</p>

<%= link_to t('edit'), edit_trip_path(@trip) %> |
<%= link_to t('back'), trips_path %>
