<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><%=t("menu")%></li>
      <li><%= link_to t("models.polls")+" ("+unvoted_polls_user_count+")", event_polls_path(@event) %> </li>
      <li><%= link_to t("models.items"), event_items_path(@event) %> </li>
    </ul>
  </div><!--/.well -->

  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><%=t("participants")%></li>
      <% @event.users.each do |user| %>
          <span class="label label-info"data-toggle="tooltip" title=<%= user.email %>>
            <%= user.name %>
          </span>
      <% end %>
    </ul>
  </div><!--/.well -->

</div><!--/span-->