<%- model_class = Event -%>

<h2><%= t("models.events") %></h2>

<table class="table table-hover table-bordered table-sevented">
  <thead>
    <tr>
      <th><%= t("name")%></th>
      <th><%= t("participation")%></th>
    </tr>
  </thead>

  <tbody>
    <%= sync partial: 'event_row', collection: @events, refetch: true %>
  </tbody>
</table>

<br>

<div class="add-master-button">
  <%= link_to t('helpers.titles.new', :model => t("models.event")), new_event_path, class: 'btn btn-primary' %>
</div>
