<%- model_class = Poll -%>

<h2>Polls</h2>

<table class="table table-hover table-bordered table-striped" id="table_poll">
  <thead>
    <tr>
      <th id="detail">Detalhes</th>
      <th><%=t("description")%></th>
      <th><%=t("vote")%></th>
      <% if current_user.super_user %>
        <th><%=t 'actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= sync partial: 'poll_row', collection: @polls %>
    <%= sync_new partial: 'poll_row', resource: Poll.new, direction: :append %>
  </tbody>
</table>

<br>

<% if current_user.super_user %>
  <div class="add-master-button">
    <%= link_to t('helpers.titles.new',:model => model_class.model_name.human), new_poll_path, class: 'btn btn-primary' %>
  </div>
<% end%>
