<%- model_class = Poll -%>

<h2><%= t("models.polls") %></h2>

<table class="table table-hover table-bordered table-striped" id="table_poll">
  <thead>
    <tr>
      <th><%=t("description")%></th>
      <th><%=t("vote")%></th>
      <% if current_user.super_user %>
        <th><%=t 'actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= sync partial: 'poll_row', collection: @trip.polls %>
    <%= sync_new partial: 'poll_row', resource: Poll.new, direction: :append%>
  </tbody>
</table>

<br>

<% if current_user.super_user %>
  <div class="add-master-button">
    <%= link_to t('helpers.titles.new',:model => t("models.poll")), new_trip_poll_path(@trip), class: 'btn btn-primary' %>
  </div>
<% end%>