<p>
  <strong><%=t("description")%>:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong><%=t("complement")%>:</strong>
  <%= @poll.complement %>
</p>

<%= link_to t('edit'), edit_event_poll_path(@event, @poll) %> |
<%= link_to t('back'), event_polls_path %>
