<p>
  <strong><%=t("description")%>:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong><%=t("complement")%>:</strong>
  <%= @poll.complement %>
</p>

<%= link_to t('edit'), edit_trip_poll_path(@trip, @poll) %> |
<%= link_to t('back'), trip_polls_path %>
