<div class="panel panel-primary" id="SignIn">
	<div class="panel-heading">
		<h2>Entrar com:</h2>
	</div>
	<div class="panel-body">
		<%= link_to image_tag('oauth_facebook.png'), omniauth_authorize_path(:user, :facebook) %>
		<br>
		<br>
		Ou (para os mais nerds)
		<br>
		<br>
		<%= link_to image_tag('oauth_github.png'), omniauth_authorize_path(:user, :github) %>
	</div>
</div>

<%if ENV["RAILS_ENV"] != "production" %>

	<div class="panel panel-primary">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, :required => false, :autofocus => true %>
		    <%= f.input :password, :required => false %>
		    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign in" %>
		  </div>
		<% end %>
	</div>

<%end%>
