<p>
  <strong><%=t("name")%>:</strong>
  <%= @item.name %>
</p>

<p>
  <strong><%=t("description")%>:</strong>
  <%= @item.description %>
</p>

<p>
  <strong><%=t("amount")%>:</strong>
  <%= @item.amount %>
</p>

<p>
  <strong><%=t("value")%>:</strong>
  <%= @item.value %>
</p>

<%= link_to t('edit'), edit_event_item_path(@event, @item) %> |
<%= link_to t('back'), event_items_path %>
