  <div class="media-body">
    <% if comment.user == current_user or current_user.super_user %>
        <%= link_to edit_trip_comment_path(@trip, comment) do %>
            <i class="icon-edit"></i>
        <% end %>

        <%= link_to trip_comment_path(@trip, comment),
                    method: :delete,
                    #remote: true,
                    data: { confirm: 'Are you sure?' }  do %>
            <i class="icon-trash"></i>
        <% end %>
    <% end %>

    <b><%= comment.user.name %></b>: <%= h(comment.to_s).gsub("\n", "<br/>").html_safe %>

    <div class="pull-right">
        <%= comment.created_at.strftime('%H:%M:%S %d/%m/%Y') %>
    </div>

  </div>