<tr>
    <td><%= link_to poll.description, event_poll_path(@event, poll)%></td>
    <td>

        <% if current_user.voted_up_for? poll %>
            <%= link_to image_tag("like_disable.png", :size => "25x20"), like_event_poll_path(@event, poll), method: "post", class: "disable_link"%>
        <% else %>
            <%= link_to image_tag("like.png", :size => "25x20"), like_event_poll_path(@event, poll), method: "post"%>
        <% end %>
        <span class="badge"><%= poll.likes.size %></span>

        <% if current_user.voted_down_for? poll %>
            <%= link_to image_tag("dislike_disable.png", :size => "25x20"), dislike_event_poll_path(@event, poll), method: "post", class: "disable_link" %>
        <% else %>
            <%= link_to image_tag("dislike.png", :size => "25x20"), dislike_event_poll_path(@event, poll), method: "post" %>
        <% end %>
        <span class="badge"><%= poll.dislikes.size %></span>

    </td>
    <% if current_user.super_user %>
        <td class="btn_actions">
        <%= link_to t('edit', :default => t("helpers.links.edit")), edit_event_poll_path(@event, poll), :class => 'btn btn-mini' %>
        <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                    event_poll_path(@event, poll),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('sure'))) },
                    :class => 'btn btn-mini btn-danger' %>
        </td>
    <% end %>
</tr>
